$open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;

.memoryGame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: calc(600px + 10vw);
    margin: 0 auto;
    padding: 30px 0;
    color: darkslategray;
    font-family: $open-sans;
}