/**********
*  Cards  *
***********/
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 2vw;
}

/*********
*  Card  *
**********/
.cardContainer,
.front,
.back {
    width:  22vw;
    height: 22vw;
    max-width:  150px;
    max-height: 150px;
}

.cardContainer {
	perspective: 1000px;
    margin: 0 2vw 2vw 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease 500ms;

    &.active {
		opacity: 1;
        pointer-events: all;
    }
}

.card {
	position: relative;
	transition: 600ms;
	transform-style: preserve-3d;

    .flipped & {
		transform: rotateY(180deg); 
    }
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
    border-radius: 5px;
}

.front {
	transform: rotateY(180deg);
    font-size: 10vw;
    line-height: 22vw;
    text-align: center;
    color: white;
    background-color: skyblue;

    @media (min-width: 680px) {
        font-size: 75px;
        line-height: 150px;
    }
}

.back {
	z-index: 2;
	transform: rotateY(0deg);
    background-color: green;
    cursor: pointer;
}