$poiret: 'Poiret One', cursive;
$open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;

.header {
    margin-bottom: 30px;
    color: white;
}

.title {
    font-family: $poiret;
    font-size: 42px;
    margin-bottom: 10px;
}

.subTitle {
    font-family: $open-sans;
    font-size: 18px;
}