$poiret: 'Poiret One', cursive;

.header {
    text-align: center;
    margin-bottom: 30px;

    &.screen {
        color: white;
    }
}

.title {
    font-family: $poiret;

    .screen & {
        margin-bottom: 10px;
        font-size: 42px;
    }

    .gamePlay & {
        margin-bottom: 5px;
        font-size: 30px;

        @media (min-width: 768px) {
            font-size: 42px;
        }
    }
}

.subTitle {
    .screen & {
        font-size: 18px;
    }

    .gamePlay & {
        font-size: 14px;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }
}