.screen {
    background: skyblue;
    box-shadow: 1px 1px 4px 1px lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 400px;
    margin: 0 auto 50px;
    padding: 20px 20px 30px;
    text-align: center;
    color: white;
}

.summary .text {
    margin-bottom: 20px;
}